@import "~react-bulma-components/src/index.sass";

.icon-navbar-button {
  margin-right: 15px;
}

nav {
  &.navbar {
    @media screen and (min-width: 1024px) {
      height: 80px !important;
    }
  }
}

.footer {
  display: flex;
  padding: 15px !important;

  & div {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }

  .available {
    font-size: 14px;
    color: #fa8700;
  }

  .countdown {
    font-size: 20px;
    text-align: center;
    color: #fa8700;
  }
}
